---
layout: default
---
	
{% for post in site.posts %}
	<article class="feed-article">
		<a href="{{ post.url }}"><h2 class="article-title">{{ post.title }}</h2></a>
		<span class="article-date">{{post.date | date: "%b %d, %Y" }}</span>
		<p class="article-summary">
			{% if post.image_url %} <img class="post-image post-image-small" src="{{ post.image_url }}"> {% endif %}
			{{ post.content }}
		</p>
		<a href="{{ post.url }}" class="comments-link">Share your comments &rarr;</a>
		{% if post != site.posts.last %} <hr class="soften article-divider"> {% endif %}
	</article>
{% endfor %}
