<section id="contact" class="bg-gray">
  <div class="container">
    <h2>Contact</h2>
    <div class="row">
      <div class="col-md-4 contact-item">
        <a href="mailto:miguel.frde@gmail.com">
          <span class="contact-icon">
            <i class="fa fa-envelope fa-fw"></i>
          </span>
          <span class="contact-text">miguel.frde@gmail.com</span>
        </a>
      </div>
      <div class="col-md-4 contact-item center">
        <a href="https://github.com/miguelfrde">
          <span class="contact-icon">
            <i class="fa fa-github fa-fw"></i>
          </span>
          <span class="contact-text">miguelfrde</span>
        </a>
      </div>
      <div class="col-md-4 contact-item right">
        <a href="https://mx.linkedin.com/in/miguelfrde">
          <span class="contact-icon">
            <i class="fa fa-linkedin-square fa-fw"></i>
          </span>
          <span class="contact-text">miguelfrde</span>
          </span>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 contact-item">
        <a href="https://twitter.com/miguelfrde">
          <span class="contact-icon">
            <i class="fa fa-twitter fa-fw"></i>
          </span>
          <span class="contact-text">@miguelfrde</span>
        </a>
      </div>
      <div class="col-md-4 contact-item center">
        <a href="https://plus.google.com/114718819918352786710">
          <span class="contact-icon">
            <i class="fa fa-google-plus-square fa-fw"></i>
          </span>
          <span class="contact-text">Miguel Flores</span>
        </a>
      </div>
      <div class="col-md-4 contact-item right">
        <a href="skype:miguel.frde?call">
          <span class="contact-icon">
            <i class="fa fa-skype fa-fw"></i>
          </span>
          <span class="contact-text">miguel.frde</span>
        </a>
      </div>
    </div>
  </div>
</section>
