<section id="contact" class="bg-gray">
  <div class="container">
    <h2>Contact</h2>
    <div class="row">
      <div class="col-md-4 contact-item center">
        <a href="https://github.com/{{ site.data.about.github }}">
          <span class="contact-icon">
            <i class="fa fa-github fa-fw"></i>
          </span>
          <span class="contact-text">{{ site.data.about.github }}</span>
        </a>
      </div>
      <div class="col-md-4 contact-item right">
        <a href="https://mx.linkedin.com/in/{{ site.data.about.linkedin }}">
          <span class="contact-icon">
            <i class="fa fa-linkedin-square fa-fw"></i>
          </span>
          <span class="contact-text">{{ site.data.about.linkedin }}</span>
        </a>
      </div>
      <div class="col-md-4 contact-item">
        <a href="https://twitter.com/{{ site.data.about.twitter }}">
          <span class="contact-icon">
            <i class="fa fa-twitter fa-fw"></i>
          </span>
          <span class="contact-text">@{{ site.data.about.twitter }}</span>
        </a>
      </div>
    </div>
  </div>
</section>
