<section id="education" class="content-section full-page-section">
  <div class="container">
    <h2>Education</h2>
    <h3>In place education</h3>
    <div class="row">
      <div class="col-md-4">
        <img src="{{ 'mdh.png' | prepend: site.img_path }}" alt="MDH" class="company-logo" width="200">
        <p class="ed-period">August 2014 - June 2015</p>
        <p class="ed-location">
          <i class="fa fa-map-marker"></i>&nbsp; Västerås, Sweden
        </p>
      </div>
      <div class="col-md-8">
        <p class="small-title">Exchange studies</p>
        <p class="ed-description">
          I'm currently studying in Sweden for one year. The courses I'm taking
          are: Graph Theory, Quantum Computing and Information, Software
          Validation and Verification, Artificial Intelligence, Mathematics
          behind the Internet, Computer Graphics, Model-driven Engineering and
          of course, Swedish.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <img src="{{ 'iteso.png' | prepend: site.img_path }}" alt="ITESO" class="company-logo">
        <p class="ed-period">August 2011 - May 2016 (expected)</p>
        <p class="ed-location">
          <i class="fa fa-map-marker"></i>&nbsp; Guadalajara, Mexico
        </p>
      </div>
      <div class="col-md-8">
        <p class="small-title">BSc Computer Science</p>
        <p class="ed-description">
          I'm currently pursuing my bachelor degree. During my studies here,
          I've participated in many perliminary ACM contests, one of which my
          team was first, and in one regional contest. My degree was supposed to
          take 4.5 years, but since I couldn't take one course I needed during
          my exchange period that is requirement for another course, I expect to
          do one more semester with just one course.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <img src="{{ 'cervantes.png' | prepend: site.img_path }}" alt="Cervantes" class="company-logo" height="80">
        <p class="ed-period">August 2008 - June 2011</p>
        <p class="ed-location">
          <i class="fa fa-map-marker"></i>&nbsp; Guadalajara, Mexico
        </p>
      </div>
      <div class="col-md-8">
        <p class="small-title">High School</p>
        <p class="ed-description">
          During my last year, I led a group of 20 people to setup and run a
          cybercafe for a national high school sports event. Developed the
          website used for the event. The technologies I used were HTML, CSS,
          JavaScript and PHP using Wordpress with a custom theme I developed.
        </p>
      </div>
    </div>
    <h3>Online courses</h3>
    <div class="row">
      <div class="col-md-4">
        <img src="{{ 'coursera.png' | prepend: site.img_path }}" alt="Coursera" class="company-logo" width="120">
        <p class="ed-period">2012 - present</p>
      </div>
      <div class="col-md-8">
        <p class="small-title">Completed</p>
        <ul class="course-list">
          <li>
            <a href="https://www.coursera.org/course/maththink">
              <i class="fa fa-globe fa-fw"></i>
            </a>
            Introduction to Mathematical Thinking
            <span class="course-date">Stanford, September 2012</span>
          </li>
          <li>
            <a href="https://www.coursera.org/course/calcsing">
              <i class="fa fa-globe fa-fw"></i>
            </a>
            Calculus: Single Variable
            <span class="course-date">Penn, January 2013</span>
          </li>
          <li>
            <a href="https://www.coursera.org/course/algs4partI">
              <i class="fa fa-globe fa-fw"></i>
            </a>
            Algorithms Pt. I
            <span class="course-date">Princeton, February 2013</span>
          </li>
          <li>
            <a href="https://www.coursera.org/course/algs4partII">
              <i class="fa fa-globe fa-fw"></i>
            </a>
            Algorithms Pt. II
            <span class="course-date">Princeton, March 2013</span>
          </li>
          <li>
            <a href="https://www.coursera.org/course/ml">
              <i class="fa fa-globe fa-fw"></i>
            </a>
            Machine Learning
            <span class="course-date">Stanford, April 2013</span>
          </li>
          <li>
            <a href="https://www.coursera.org/course/historyofrock1">
              <i class="fa fa-globe fa-fw"></i>
            </a>
            History of Rock Pt. I
            <span class="course-date">Rochester, May 2013</span>
          </li>
          <li>
            <a href="https://www.coursera.org/course/optimization">
              <i class="fa fa-globe fa-fw"></i>
            </a>
            Discrete Optimization
            <span class="course-date">Melbourne, June 2013</span>
          </li>
          <li>
            <a href="https://www.coursera.org/course/historyofrock2">
              <i class="fa fa-globe fa-fw"></i>
            </a>
            History of Rock Pt. II
            <span class="course-date">Rochester, July 2013</span>
          </li>
          <li>
            <a href="https://www.coursera.org/course/progfun">
              <i class="fa fa-globe fa-fw"></i>
            </a>
            Functional Programming Principles in Scala
            <span class="course-date">EPFL, September 2013</span>
          </li>
          <li>
            <a href="https://www.coursera.org/course/musicproduction">
              <i class="fa fa-globe fa-fw"></i>
            </a>
            Introduction to Music Production
            <span class="course-date">Berklee, October 2013</span>
          </li>
          <li>
            <a href="https://www.coursera.org/course/automata">
              <i class="fa fa-globe fa-fw"></i>
            </a>
            Automata
            <span class="course-date">Stanford, Novemeber 2013</span>
          </li>
          <li>
            <a href="https://www.coursera.org/course/compilers">
              <i class="fa fa-globe fa-fw"></i>
            </a>
            Compilers
            <span class="course-date">Stanford, March 2014</span>
          </li>
          <li>
            <a href="https://www.coursera.org/course/webapplications">
              <i class="fa fa-globe fa-fw"></i>
            </a>
            Web Applications Architectures
            <span class="course-date">UNM, March 2014</span>
          </li>
          <li>
            <a href="https://www.coursera.org/course/algo">
              <i class="fa fa-globe fa-fw"></i>
            </a>
            Algorithms: Design and Analysis Part I
            <span class="course-date">Stanford, April 2014</span>
          </li>
          <li>
            <a href="https://www.coursera.org/course/hwswinterface">
              <i class="fa fa-globe fa-fw"></i>
            </a>
            The Hardware Software Interface
            <span class="course-date">U. of Washington, June 2014</span>
          </li>
          <li>
            <a href="https://www.coursera.org/course/proglang">
              <i class="fa fa-globe fa-fw"></i>
            </a>
            Programming Languages
            <span class="course-date">U. of Washington, October 2014</span>
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <img src="{{ 'edx.png' | prepend: site.img_path }}" alt="edX" class="company-logo" height="25">
        <p class="ed-period">2014 - present</p>
      </div>
      <div class="col-md-8">
        <p class="small-title">Completed</p>
        <ul class="course-list">
          <li>
            <a href="https://www.edx.org/course/utaustinx/utaustinx-ut-8-01x-jazz-appreciation-1149">
              <i class="fa fa-globe fa-fw"></i>
            </a>
            Jazz Appreciation
             <span class="course-date">The University of Texas, January 2014</span>
          </li>

          <li>
            <a href="https://www.edx.org/course/uc-berkeleyx/uc-berkeleyx-cs169-1x-engineering-1377">
              <i class="fa fa-globe fa-fw"></i>
            </a>
            CS169.1X Engineering Software as a Service
             <span class="course-date">Berkeley, April 2014</span>
          </li>

          <li>
            <a href="https://www.edx.org/course/uc-berkeleyx/uc-berkeleyx-cs169-2x-software-service-1275">
              <i class="fa fa-globe fa-fw"></i>
            </a>
            CS169.2X Software as a Service
             <span class="course-date">Berkeley, June 2014</span>
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <img src="{{ 'udacity.png' | prepend: site.img_path }}" alt="Udacity" class="company-logo" width="100">
        <p class="ed-period">2012 - present</p>
      </div>
      <div class="col-md-8">
        <p class="small-title">Completed</p>
        <ul class="course-list">
          <li>
            <a href="https://www.udacity.com/course/cs101">
              <i class="fa fa-globe fa-fw"></i>
            </a>
            Introduction to Computer Science
            <span class="course-date">February - April 2012</span>
          </li>
          <li>
            <a href="https://www.udacity.com/course/cs212">
              <i class="fa fa-globe fa-fw"></i>
            </a>
            Design of Computer Programs
            <span class="course-date">April - June 2012</span>
          </li>
          <li>
            <a href="https://www.udacity.com/course/cs253">
              <i class="fa fa-globe fa-fw"></i>
            </a>
            Web Development
            <span class="course-date">April - June 2012</span>
          </li>
          <li>
            <a href="https://www.udacity.com/course/st101">
              <i class="fa fa-globe fa-fw"></i>
            </a>
            Introduction to Statistics
            <span class="course-date">June - August 2012</span>
          </li>
          <li>
            <a href="https://www.udacity.com/course/cs258">
              <i class="fa fa-globe fa-fw"></i>
            </a>
            Software Testing
            <span class="course-date">June - August 2012</span>
          </li>
          <li>
            <a href="https://www.udacity.com/course/cs271">
              <i class="fa fa-globe fa-fw"></i>
            </a>
            Introduction to Artificial Intelligence
            <span class="course-date">Winter 2012, Summer 2013</span>
          </li>
          <li>
            <a href="https://www.udacity.com/course/ud617">
              <i class="fa fa-globe fa-fw"></i>
            </a>
            Introduction to Hadoop and MapReduce
            <span class="course-date">November 2013</span>
          </li>
          <li>
            <a href="https://www.udacity.com/course/cs259">
              <i class="fa fa-globe fa-fw"></i>
            </a>
            Software Debugging
            <span class="course-date">January 2014</span>
          </li>
          <li>
            <a href="https://www.udacity.com/course/cs256">
              <i class="fa fa-globe fa-fw"></i>
            </a>
            Mobile Web Development
            <span class="course-date">January 2014</span>
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <img src="{{ 'stanfordonline.png' | prepend: site.img_path }}" alt="Stanford Online" class="company-logo" width="150">
        <p class="ed-period">2014 - present</p>
      </div>
      <div class="col-md-8">
        <p class="small-title">Completed</p>
        <ul class="course-list">
          <li>
            <a href="https://class.stanford.edu/courses/Engineering/db/2014_1/about">
              <i class="fa fa-globe fa-fw"></i>
            </a>
            Introduction to Databases
            <span class="course-date">January 2014</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
