<section id="education" class="content-section full-page-section">
  <div class="container">
    <h2>Education</h2>

    <h3>In place education</h3>
    <div class="timeline">
      {% for education in site.data.inplace_education %}
        <div class="timeline-block">
          <div class="timeline-img">
            <img src="{{education.icon | prepend: site.img_path }}" alt="{{ education.school }}">
          </div>

          <div class="timeline-content">
            {% if education.image %}
              <img src="{{ education.image | prepend: site.img_path }}" alt="{{ education.school }}">
            {% else %}
              <h2>{{ education.school }}</h2>
            {% endif %}
            <p lang="en">{{ education.description }}</p>
            <span class="timeline-date">{{ education.period }}</span>
            <span class="timeline-location"><i class="fa fa-map-marker"></i> {{ education.location }}</span>
          </div>
        </div>
      {% endfor %}
    </div>

    <h3>Online courses</h3>
    {% for platform in site.data.online_education %}
      <div class="row">
        <div class="col-md-4">
          <img src="{{ platform.image | prepend: site.img_path }}" alt="{{ platform.name }}" class="company-logo">
          <p class="ed-period">{{ platform.period }}</p>
        </div>
        <div class="col-md-8">
          {% if platform.completed %}
            <p class="small-title">Completed</p>
            {% include courses_template.html courses=platform.completed %}
          {% endif %}

          {% if platform.ongoing %}
            <p class="small-title">Ongoing</p>
            {% include courses_template.html courses=platform.ongoing %}
          {% endif %}
        </div>
      </div>
    {% endfor %}
  </div>
</section>
