<section id="experience" class="content-section bg-yellow full-page-section">
  <div class="container">
    <h2>Experience</h2>
    {% for work in site.data.experience %}
      <div class="row">
        <div class="col-md-4">
          <img src="{{ work.image | prepend: site.img_path }}" alt="{{ work.company }}" class="company-logo" width="150">
          <p class="exp-period">{{ work.period }}</p>
          <p class="exp-location">
            <i class="fa fa-map-marker"></i>&nbsp; {{ work.location }}
          </p>
        </div>
        <div class="col-md-8">
          <p class="small-title">{{ work.position }}</p>
          <p class="exp-description">
            {{ work.description }}
          </p>
        </div>
      </div>
    {% endfor %}
  </div>
</section>
