<section id="experience" class="content-section full-page-section bg-yellow">
  <div class="container">
    <h2>Experience</h2>
    <div class="timeline">
      {% for work in site.data.experience %}
		    <div class="timeline-block">
		    	<div class="timeline-img">
            <img src="{{work.icon | prepend: site.img_path }}" alt="{{ work.company }}">
		    	</div>

		    	<div class="timeline-content">
            <h2>{{ work.company }}</h2>
            <p>{{ work.description }}</p>
            <span class="timeline-date">{{ work.period }}</span>
		    	</div>
		    </div>
      {% endfor %}
    </div>
    <!--{% for work in site.data.experience %}
      <div class="row">
        <div class="col-md-4">
          <img src="{{ work.image | prepend: site.img_path }}" alt="{{ work.company }}" class="company-logo" width="150">
          <p class="exp-period">{{ work.period }}</p>
          <p class="exp-location">
            <i class="fa fa-map-marker"></i>&nbsp; {{ work.location }}
          </p>
        </div>
        <div class="col-md-8">
          <p class="small-title">{{ work.position }}</p>
          <p class="exp-description">
            {{ work.description }}
          </p>
        </div>
      </div>
      {% endfor %}-->
  </div>
</section>
