<header id="top">
  <div class="header-content">
    <h1>{{ site.data.about.name }}</h1>
    <h3>{{ site.data.about.title }}</h3>
    <div class="social-buttons">
      <a href="http://www.github.com/{{ site.data.about.github }}">
        <i class="fa fa-github"></i>
      </a>
      <a href="http://www.twitter.com/{{ site.data.about.twitter }}">
        <i class="fa fa-twitter"></i>
      </a>
      <a href="http://www.linkedin.com/in/{{ site.data.about.linkedin }}">
        <i class="fa fa-linkedin"></i>
      </a>
      <a href="https://500px.com/{{site.data.about.fivehpixels}}">
        <i class="fa fa-500px"></i>
      </a>
    </div>
  </div>
</header>
