<!-- HEADER -->
<header>
	<a href="/"><h1>miguelfrde</h1></a>
</header>

<!-- SOCIAL LINKS -->
<ul id="social">
	<li class="fadehover">
		<a href="mailto:miguel.frde@gmail.com"><img id="social-mail" src="/img/mail-black.png" alt="Mail me!" class="fade-a"></a>
		<a href="mailto:miguel.frde@gmail.com"><img id="social-mail" src="/img/mail-color.png" alt="Mail me!" class="fade-b"></a>
	</li>
	<li class="fadehover">
		<a href="http://github.com/miguelfrde"><img id="social-github" src="/img/github-black.png" alt="Add me on Github" class="fade-a"></a>
		<a href="http://github.com/miguelfrde"><img id="social-github" src="/img/github-color.png" alt="Add me on Github" class="fade-b"></a>
	</li>
	<li class="fadehover">
		<a href="https://twitter.com/miguelfrde"><img id="social-twitter" src="/img/twitter-black.png" alt="Follow me on Twitter" class="fade-a"></a>
		<a href="https://twitter.com/miguelfrde"><img id="social-twitter" src="/img/twitter-color.png" alt="Follow me on Twitter" class="fade-b"></a>
	</li>
	<li class="fadehover">
		<a href="http://plus.google.com/114718819918352786710/"><img id="social-googleplus" src="/img/googleplus-black.png" alt="Add me on G+" class="fade-a"></a>
		<a href="http://plus.google.com/114718819918352786710/"><img id="social-googleplus" src="/img/googleplus-color.png" alt="Add me on G+" class="fade-b"></a>
	</li>
	<li class="fadehover">
		<a href="http://www.linkedin.com/in/miguelfrde"><img id="social-linkedin" src="/img/linkedin-black.png" alt="Add me on LinkedIn" class="fade-a"></a>
		<a href="http://www.linkedin.com/in/miguelfrde"><img id="social-linkedin" src="/img/linkedin-color.png" alt="Add me on LinkedIn" class="fade-b"></a>
	</li>
	<!--<a href="#"><img id="social-rss" src="/img/rss-black.png" alt="Suscribe to RSS Feed"></a>-->
</ul>

<!-- NAVIGATION BAR -->
<nav>
	<div class="navbar">
		<div class="navbar-inner">
			<ul class="nav">
				<li class="{% if page.url == '/index.html' %}active{% endif %}">
					<a href="/">Blog</a>
				</li>
				<li class="{% if page.url == '/about/index.html' %}active{% endif %}">
					<a href="/about">About me</a>
				</li>
				<li class="{% if page.url == '/articles/index.html' %}active{% endif %}">
					<a href="/articles">Articles</a>
				</li>
				<li class="{% if page.url == '/projects/index.html' %}active{% endif %}">
					<a href="/projects">Projects</a>
				</li>
			</ul>
		</div>
	</div>
</nav>