<header id="top">
  <div class="header-content">
    <h1>{{site.title}}</h1>
    <h3>Full-stack Software Developer</h3>
    <div class="social-buttons">
      <a href="mailto:miguel.frde@gmail.com">
        <i class="fa fa-3x fa-envelope-o"></i>
      </a>
      <a href="http://www.github.com/miguelfrde">
        <i class="fa fa-3x fa-github"></i>
      </a>
      <a href="http://www.twitter.com/miguelfrde">
        <i class="fa fa-3x fa-twitter"></i>
      </a>
      <a href="http://www.linkedin.com/in/miguelfrde">
        <i class="fa fa-3x fa-linkedin"></i>
      </a>
      <a href="https://medium.com/@miguelfrde">
        <i class="fa fa-3x fa-medium"></i>
      </a>
    </div>
    <div class="scroll-container">
      <a href="#about"><i class="fa fa-4x fa-angle-double-down"></i></a>
    </div>
  </div>
</header>
