<!-- TODO: show description and links on mouse hover only -->
<section id="projects" class="content-section full-page-section">
  <div class="container">
    <h2>Projects</h2>

    <h3>Personal projects</h3>
    {% for project in site.data.projects.personal_projects %}
      {% include project_with_image.html project=project %}
    {% endfor %}

    <h3>University projects</h3>
    {% for project in site.data.projects.university_projects %}
      {% include project_with_image.html project=project %}
    {% endfor %}

    <h3>Other projects (personal and university)</h3>
    {% for project in site.data.projects.other_projects %}
      {% assign imod = forloop.index | modulo:2 %}
      {% if imod == 1 %}
        <div class="row">
      {% endif %}
      {% include project_without_image.html project=project %}
      {% if imod == 0 %}
        </div>
      {% endif %}
    {% endfor %}
  </div>
</section>
