<div class="col-md-4 project-link {{include.side}}">
  <a href="{{include.link.url}}">
    {% case include.link.type %}
      {% when 'website' %}
        <i class="fa fa-globe fa-fw"></i>
      {% when 'github' %}
        <i class="fa fa-github-alt fa-fw"></i>
      {% when 'video' %}
        <i class="fa fa-video-camera fa-fw"></i>
      {% when 'report' %}
        <i class="fa fa-file-text-o fa-fw"></i>
      {% when 'download' %}
        <i class="fa fa-cloud-download fa-fw"></i>
    {% endcase %}
    {% if include.link.text %}
        {{ include.link.text }}
    {% else %}
      {% case include.link.type %}
        {% when 'website' %} Website
        {% when 'github' %} GitHub
        {% when 'video' %} Video
        {% when 'report' %} Report
        {% when 'download' %} Download
      {% endcase %}    
    {% endif %}
  </a>
</div>
