<div class="col-md-6">
  <p class="project-name small-title">{{ project.name }}</p>
  <p class="project-date">
    <i class="fa fa-calendar fa-fw"></i> {{ project.period }}
  </p>
  <p>{{ project.description }}</p>
  <div class="row project-links">
    {% if link1 != '' %}
      {% include projectlink.html link=project.link1 %}
    {% endif %}
    {% if link2 != '' %}
      {% include projectlink.html link=project.link2 side='center' %}
    {% endif %}
    {% if link3 != '' %}
      {% include projectlink.html link=project.link3 side='right' %}
    {% endif %}
  </div>
</div>
