<section id="skills" class="content-section bg-yellow full-page-section">
  <div class="container">
    <h2>Skills</h2>
    {% for skilltype in site.data.skills %}
      <h3>{{ skilltype.title }}</h3>

      <!-- TODO: fix bug when |skills| % cols == 0 -->
      {% assign inc =  skilltype.skills | size | divided_by: skilltype.cols | plus: 1 %}
      {% assign lastcol = skilltype.cols | minus: 1 %}

      <div class="row">
        {% for i in (0..lastcol) %}
          {% assign lower = i | times: inc %}
          {% assign upper = lower | plus: inc | minus: 1 %}

          <div class="{% if skilltype.cols == 3 %} col-md-4 {% else %} col-md-6 {% endif %}">
            <ul class="skill-list">
              {% for skillindex in (lower..upper) %}
                {% assign skill = skilltype.skills[skillindex] %}

                {% if skill %}
                  <li>
                    <span class="skill-name">{{ skill.name }}</span>
                    <span class="skill-rank">
                      {% for _ in (1..skill.rank) %}
                        <span class="fa fa-star filled"></span>
                      {% endfor %}
                      {% assign rankp1 = skill.rank | add: 1 %}
                      {% for _ in (rankp1..4) %}
                        <span class="fa fa-star"></span>
                      {% endfor %}
                    </span>
                  </li>
                {% endif %}

              {% endfor %}
            </ul>
          </div>
        {% endfor %}
      </div>
      <div class="row skills-others">
        {% if skilltype.others %}
          Others things I've used at some point: {{skilltype.others }}
        {% endif %}
      </div>
    {% endfor %}
  </div>
</section>
