<section id="abilities" class="bg-yellow full-page-section">
  <div class="container">
    <h2>Skills</h2>

    <h3>Programming languages</h3>
    <div class="row">
      <div class="col-md-4">
        <ul class="skill-list">
          <li>
            <span class="skill-name">Python</span>
            <span class="skill-rank">
              <span class="fa fa-star filled"></span>
              <span class="fa fa-star filled"></span>
              <span class="fa fa-star filled"></span>
              <span class="fa fa-star filled"></span>
              <span class="fa fa-star filled"></span>
            </span>
          </li>
          <li>
            <span class="skill-name">Ruby</span>
            <span class="skill-rank">
              <span class="fa fa-star filled"></span>
              <span class="fa fa-star filled"></span>
              <span class="fa fa-star filled"></span>
              <span class="fa fa-star filled"></span>
              <span class="fa fa-star filled"></span>
            </span>
          </li>
          <li>
            <span class="skill-name">Go</span>
            <span class="skill-rank">
              <span class="fa fa-star filled"></span>
              <span class="fa fa-star filled"></span>
              <span class="fa fa-star filled"></span>
              <span class="fa fa-star filled"></span>
              <span class="fa fa-star filled"></span>
            </span>
          </li>
          <li>
            <span class="skill-name">Markdown</span>
            <span class="skill-rank">
              <span class="fa fa-star filled"></span>
              <span class="fa fa-star filled"></span>
              <span class="fa fa-star filled"></span>
              <span class="fa fa-star filled"></span>
              <span class="fa fa-star filled"></span>
            </span>
          </li>
          <li>
            <span class="skill-name">HTML 5</span>
            <span class="skill-rank">
              <span class="fa fa-star filled"></span>
              <span class="fa fa-star filled"></span>
              <span class="fa fa-star filled"></span>
              <span class="fa fa-star filled"></span>
              <span class="fa fa-star filled"></span>
            </span>
          </li>
          <li>
            <span class="skill-name">C</span>
            <span class="skill-rank">
              <span class="fa fa-star filled"></span>
              <span class="fa fa-star filled"></span>
              <span class="fa fa-star filled"></span>
              <span class="fa fa-star filled"></span>
              <span class="fa fa-star"></span>
            </span>
          </li>
          <li>
            <span class="skill-name">Perl</span>
            <span class="skill-rank">
              <span class="fa fa-star filled"></span>
              <span class="fa fa-star filled"></span>
              <span class="fa fa-star filled"></span>
              <span class="fa fa-star filled"></span>
              <span class="fa fa-star"></span>
            </span>
          </li>
        </ul>
      </div>
      <div class="col-md-4">
        <ul class="skill-list">
          <li>
            <span class="skill-name">Java</span>
            <span class="skill-rank">
              <span class="fa fa-star filled"></span>
              <span class="fa fa-star filled"></span>
              <span class="fa fa-star filled"></span>
              <span class="fa fa-star filled"></span>
              <span class="fa fa-star"></span>
            </span>
          </li>
          <li>
            <span class="skill-name">JavaScript</span>
            <span class="skill-rank">
              <span class="fa fa-star filled"></span>
              <span class="fa fa-star filled"></span>
              <span class="fa fa-star filled"></span>
              <span class="fa fa-star filled"></span>
              <span class="fa fa-star"></span>
            </span>
          </li>
          <li>
            <span class="skill-name">SQL</span>
            <span class="skill-rank">
              <span class="fa fa-star filled"></span>
              <span class="fa fa-star filled"></span>
              <span class="fa fa-star filled"></span>
              <span class="fa fa-star filled"></span>
              <span class="fa fa-star"></span>
            </span>
          </li>
          <li>
            <span class="skill-name">Haskell</span>
            <span class="skill-rank">
              <span class="fa fa-star filled"></span>
              <span class="fa fa-star filled"></span>
              <span class="fa fa-star filled"></span>
              <span class="fa fa-star filled"></span>
              <span class="fa fa-star"></span>
            </span>
          </li>
          <li>
            <span class="skill-name">CSS 3</span>
            <span class="skill-rank">
              <span class="fa fa-star filled"></span>
              <span class="fa fa-star filled"></span>
              <span class="fa fa-star filled"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
            </span>
          </li>
          <li>
            <span class="skill-name">LaTeX</span>
            <span class="skill-rank">
              <span class="fa fa-star filled"></span>
              <span class="fa fa-star filled"></span>
              <span class="fa fa-star filled"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
            </span>
          </li>
          <li>
            <span class="skill-name">Standard ML</span>
            <span class="skill-rank">
              <span class="fa fa-star filled"></span>
              <span class="fa fa-star filled"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
            </span>
          </li>
        </ul>
      </div>
      <div class="col-md-4">
        <ul class="skill-list">
          <li>
            <span class="skill-name">C++</span>
            <span class="skill-rank">
              <span class="fa fa-star filled"></span>
              <span class="fa fa-star filled"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
            </span>
          </li>
          <li>
            <span class="skill-name">Shell Scripting</span>
            <span class="skill-rank">
              <span class="fa fa-star filled"></span>
              <span class="fa fa-star filled"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
            </span>
          </li>
          <li>
            <span class="skill-name">MATLAB</span>
            <span class="skill-rank">
              <span class="fa fa-star filled"></span>
              <span class="fa fa-star filled"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
            </span>
          </li>
          <li>
            <span class="skill-name">Scala</span>
            <span class="skill-rank">
              <span class="fa fa-star filled"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
            </span>
          </li>
          <li>
            <span class="skill-name">Mathematica</span>
            <span class="skill-rank">
              <span class="fa fa-star filled"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
            </span>
          </li>
        </ul>
      </div>
    </div>

    <h3>Frameworks and Tools</h3>
    <div class="row">
      <div class="col-md-4">
        <ul class="skill-list">
          <li>
            <span class="skill-name">OSX</span>
            <span class="skill-rank">
              <span class="fa fa-star filled"></span>
              <span class="fa fa-star filled"></span>
              <span class="fa fa-star filled"></span>
              <span class="fa fa-star filled"></span>
              <span class="fa fa-star filled"></span>
            </span>
          </li>
          <li>
            <span class="skill-name">Linux</span>
            <span class="skill-rank">
              <span class="fa fa-star filled"></span>
              <span class="fa fa-star filled"></span>
              <span class="fa fa-star filled"></span>
              <span class="fa fa-star filled"></span>
              <span class="fa fa-star"></span>
            </span>
          </li>
          <li>
            <span class="skill-name">Git</span>
            <span class="skill-rank">
              <span class="fa fa-star filled"></span>
              <span class="fa fa-star filled"></span>
              <span class="fa fa-star filled"></span>
              <span class="fa fa-star filled"></span>
              <span class="fa fa-star"></span>
            </span>
          </li>
          <li>
            <span class="skill-name">JQuery</span>
            <span class="skill-rank">
              <span class="fa fa-star filled"></span>
              <span class="fa fa-star filled"></span>
              <span class="fa fa-star filled"></span>
              <span class="fa fa-star filled"></span>
              <span class="fa fa-star"></span>
            </span>
          </li>
          <li>
            <span class="skill-name">Bootstrap</span>
            <span class="skill-rank">
              <span class="fa fa-star filled"></span>
              <span class="fa fa-star filled"></span>
              <span class="fa fa-star filled"></span>
              <span class="fa fa-star filled"></span>
              <span class="fa fa-star"></span>
            </span>
          </li>
          <li>
            <span class="skill-name">Sinatra</span>
            <span class="skill-rank">
              <span class="fa fa-star filled"></span>
              <span class="fa fa-star filled"></span>
              <span class="fa fa-star filled"></span>
              <span class="fa fa-star filled"></span>
              <span class="fa fa-star"></span>
            </span>
          </li>
        </ul>
      </div>
      <div class="col-md-4">
        <ul class="skill-list">
          <li>
            <span class="skill-name">Heroku</span>
            <span class="skill-rank">
              <span class="fa fa-star filled"></span>
              <span class="fa fa-star filled"></span>
              <span class="fa fa-star filled"></span>
              <span class="fa fa-star filled"></span>
              <span class="fa fa-star"></span>
            </span>
          </li>
          <li>
            <span class="skill-name">Google App Engine</span>
            <span class="skill-rank">
              <span class="fa fa-star filled"></span>
              <span class="fa fa-star filled"></span>
              <span class="fa fa-star filled"></span>
              <span class="fa fa-star filled"></span>
              <span class="fa fa-star"></span>
            </span>
          </li>
          <li>
            <span class="skill-name">Bower</span>
            <span class="skill-rank">
              <span class="fa fa-star filled"></span>
              <span class="fa fa-star filled"></span>
              <span class="fa fa-star filled"></span>
              <span class="fa fa-star filled"></span>
              <span class="fa fa-star"></span>
            </span>
          </li>
          <li>
            <span class="skill-name">Ionic</span>
            <span class="skill-rank">
              <span class="fa fa-star filled"></span>
              <span class="fa fa-star filled"></span>
              <span class="fa fa-star filled"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
            </span>
          </li>
          <li>
            <span class="skill-name">Vim</span>
            <span class="skill-rank">
              <span class="fa fa-star filled"></span>
              <span class="fa fa-star filled"></span>
              <span class="fa fa-star filled"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
            </span>
          </li>
          <li>
            <span class="skill-name">Sublime Text</span>
            <span class="skill-rank">
              <span class="fa fa-star filled"></span>
              <span class="fa fa-star filled"></span>
              <span class="fa fa-star filled"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
            </span>
          </li>
        </ul>
      </div>
      <div class="col-md-4">
        <ul class="skill-list">
          <li>
            <span class="skill-name">Flask</span>
            <span class="skill-rank">
              <span class="fa fa-star filled"></span>
              <span class="fa fa-star filled"></span>
              <span class="fa fa-star filled"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
            </span>
          </li>
          <li>
            <span class="skill-name">MongoDB</span>
            <span class="skill-rank">
              <span class="fa fa-star filled"></span>
              <span class="fa fa-star filled"></span>
              <span class="fa fa-star filled"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
            </span>
          </li>
          <li>
            <span class="skill-name">AngularJS</span>
            <span class="skill-rank">
              <span class="fa fa-star filled"></span>
              <span class="fa fa-star filled"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
            </span>
          </li>
          <li>
            <span class="skill-name">Django</span>
            <span class="skill-rank">
              <span class="fa fa-star filled"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
            </span>
          </li>
          <li>
            <span class="skill-name">Ruby on Rails</span>
            <span class="skill-rank">
              <span class="fa fa-star filled"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
            </span>
          </li>
        </ul>
      </div>
    </div>

    <h3>AFK Languages</h3>
    <div class="row">
      <div class="col-md-6">
        <ul class="skill-list">
          <li>
            <span class="skill-name">Spanish (native)</span>
            <span class="skill-rank">
              <span class="fa fa-star filled"></span>
              <span class="fa fa-star filled"></span>
              <span class="fa fa-star filled"></span>
              <span class="fa fa-star filled"></span>
              <span class="fa fa-star filled"></span>
            </span>
          </li>
          <li>
            <span class="skill-name">English</span>
            <span class="skill-rank">
              <span class="fa fa-star filled"></span>
              <span class="fa fa-star filled"></span>
              <span class="fa fa-star filled"></span>
              <span class="fa fa-star filled"></span>
              <span class="fa fa-star filled"></span>
            </span>
          </li>
          <li>
            <span class="skill-name">Swedish</span>
            <span class="skill-rank">
              <span class="fa fa-star filled"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
            </span>
          </li>
        </ul>
      </div>
      <div class="col-md-6">
        <ul class="skill-list">
          <li>
            <span class="skill-name">French</span>
            <span class="skill-rank">
              <span class="fa fa-star filled"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
            </span>
          </li>
          <li>
            <span class="skill-name">German</span>
            <span class="skill-rank">
              <span class="fa fa-star filled"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
            </span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
