---
---

@import "colors";
@import "typography";
@import "medium-icon";

html,
body {
  width: 100%;
  height: 100%;
  font-size: 16px;
  line-height: 2rem;
}

a:link,
a:active,
a:visited,
a:hover,
a {
  text-decoration: none !important;
  color: $dark-orange;
}

a {
  transition: color 0.5s ease;
}

a:hover {
  color: $light-orange;
}

body {
  font-family: $font-stack !important;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.left {
  text-align: left;
}

.small-title {
  font-weight: bold;
}

.bg-dark {
  background-color: $darker-gray;
}

.bg-gray {
  background-color: $dark-gray;
}

.bg-yellow {
  background-color: $light-yellow;
}

/* Header */

#top {
  display: table;
  position: relative;
  width: 100%;
  height: 100%;
  color: white;
  background: url(../img/bg.jpg) no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.header-content {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  background-color: rgba(0, 0, 0, 0.5);

  h1 {
    margin: 0;
    padding: 0;
    font-size: 4rem;
    font-weight: 700;
  }

  h3 {
    font-size: 2rem;
  }

  a:link,
  a:active,
  a:visited,
  a {
    color: white !important;
  }

  a:hover {
    color: $light-orange !important;
  }

  a {
    margin: 0 0.6rem;
  }
}

.social-buttons {
  margin-top: 2rem;
}

.scroll-container {
  position: absolute;
  display: block;
  bottom: 0;
  height: 100px;
  width: 100%;
}

/* Navbar */

.navbar {
  width: 100%;
  z-index: 999;
  background-color: white;
  border: none;
  border-radius: 0;
  box-shadow: 0px 8px 6px -5px rgba(100,100,100,0.1);

  .navbar-brand {
    color: $dark-orange;
  }

  .navbar-brand:hover {
    color: $dark-orange;
  }

  .navbar-collapse {
    overflow-x: visible;
  }

  .nav li.active a,
  .nav li a:focus,
  .nav li a:hover,
  .nav li a:active,
  .nav li.active a:focus,
  .nav li.active a:hover,
  .nav li.active a:hover {
    background: none;
    color: $dark-orange;
  }
}

nav.fixed {
  position: fixed;
  top: 0;
}

.with-navbar-padding {
  padding-top: 60px;
}

/*
.navbar  {
  border: 0px;
  background-color: $darker-gray;
  position: absolute;
  top: 100%;
  left: 10%;
  width: 110px;
  z-index: 999;
  border-radius: 0;
  box-shadow: 0px 14px 23px -4px rgba(0,0,0,0.29);
}

.navbar .navbar-collapse {
  padding: 0px;
  max-height: none;
}

.navbar .navbar-nav {
  float: none;
}

.navbar-nav {
  margin: 0px;
}

.navbar .nav > li {
  display: block;
  float: none;
  height: 80px;
}

.navbar .nav > li a {
  display: block;
  height: 80px;
  text-align: center;
  padding-top: 30px;
  font-weight: 600;
  color: #FFFFFF;
}

.navbar .nav > li a:hover,
.navbar .nav > li a:focus {
  color: $light-orange;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  background: #22A39F;
  color: #FFFFFF;
}

.navbar-default .navbar-toggle:hover .icon-bar,
.navbar-default .navbar-toggle:focus .icon-bar {
  background: #222222;
}
*/

/* Sections */

section {
  width: 100%;

  .container {
    max-width: 1280px;
    padding: 40px 180px;

    .row {
      margin-top: 40px;
    }

    h3 {
      margin: 50px 0;
      color: $dark-orange;
    }
  }
}

h2 {
  text-align: center;
  font-size: 3rem;
  color: $dark-orange;
}

/* Section about */

#profile-pic {
  border-radius: 100%;
}

#description {
  margin-left: 5px;
}


/* Sections Experience and Education */

.exp-period,
.ed-period {
  margin-top: 10px;
}

.exp-period,
.ed-period,
.exp-location,
.ed-location {
  font-size: 0.9rem;
}

ul.course-list {
  list-style-type: none;
  padding-left: 0;
}

ul a {
  color: black;
}

.course-date {
  color: $light-gray;
  font-size: 0.8rem;
}

/* Section Skills */

ul.skill-list {
  list-style-type: none;
  padding-left: 0;
}

ul.skill-list li span.skill-name {
  display: inline-block;
  width: 60%;
}

ul.skill-list li span.skill-rank {
  float: right;
  color: $light-gray;
}

ul.skill-list li span.skill-rank .filled {
  color: $dark-orange;
}

/* Section Projects */

.project-name {
  display: inline-block;
}

.project-date {
  font-size: 0.9rem;
  float: right;
}

.project-links {
  margin: 0 !important;

  .project-link {
    padding: 0 !important;
  }
}

/* Section Contact */

section#contact {
  color: white;
  padding-bottom: 100px;

  a,
  a:link,
  a:active,
  a:visited {
    color: white;
  }

  a:hover {
    color: $light-orange;
  }
}

.contact-item {
  .contact-icon {
    vertical-align: middle;
    font-size: 2.5rem;
  }
}

/* Footer */

footer {
  font-size: 0.9rem;
  padding: 20px 0;
  color: white;
}

/* Dividing image sections */
.dividing-image {
  height: 50%;
}

.stockholm-division {
  background: url(../img/stockholm.jpg) no-repeat center fixed;
}

.portugalete-division {
  background: url(../img/portugalete.jpg) no-repeat center fixed;
}

.vasteras-division {
  background: url(../img/vasteras.jpg) no-repeat center fixed;
}
