---
---

@import "colors";
@import "typography";

@mixin division($image_url) {
  background: url($image_url) no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

@mixin navbar-background() {
  $bottom: rgba(255, 255, 255, 0.9);
  $top: rgba(255, 255, 255, 1);
  background: -webkit-linear-gradient(bottom, $bottom, $top);
  background: -o-linear-gradient(top, $bottom, $top);
  background: -moz-linear-gradient(top, $bottom, $top);
  background: linear-gradient(to top, $bottom, $top);
}


@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
  40% {transform: translateY(-20px);}
  60% {transform: translateY(-5px);}
}

$screen-large: 1200px;
$screen-medium: 992px;
$screen-small: 768px;

html,
body {
  width: 100%;
  height: 100%;
  font-size: 16px;
  line-height: 2rem;
}

a:link,
a:active,
a:visited,
a:hover,
a {
  text-decoration: none !important;
  color: $dark-orange;
}

a {
  transition: color 0.5s ease;
}

a:hover {
  color: $light-orange;
}

body {
  font-family: $font-stack !important;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.left {
  text-align: left;
}

.small-title {
  font-weight: bold;
}

.small-text {
  font-size: 0.9rem;
  color: $light-gray;
}

.bg-dark {
  background-color: $darker-gray;
}

.bg-gray {
  background-color: $dark-gray;
}

.bg-yellow {
  background-color: $light-yellow;
}

/* Header */

#top {
  display: table;
  position: relative;
  width: 100%;
  height: 100%;
  color: white;
  @include division("../img/bg.jpg");

  /* for background-size:cover replacement on iOS devices */
  @media only screen and (orientation: portrait) and (device-width: 320px),
  (device-width: 768px) {
    background-color: black;
    -webkit-background-size: auto 150%;
    background-attachment: scroll;
  }

  @media only screen and (orientation: landscape) and (device-width: 320px),
  (device-width: 768px) {
    background-color: black;
    -webkit-background-size: 150% auto;
    background-attachment: scroll;
  }
}

.header-content {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  background-color: rgba(0, 0, 0, 0.5);

  h1 {
    margin: 0;
    padding: 0;
    font-weight: 700;
  }

  @media screen and (min-width: $screen-medium) {
    h1 {
      font-size: 4rem;
    }

    h3 {
      font-size: 2rem;
    }
  }

  a:link,
  a:active,
  a:visited,
  a {
    color: white !important;
  }

  a:hover {
    color: $light-orange !important;
  }

  a {
    margin: 0 0.6rem;
  }
}

.social-buttons {
  margin-top: 2rem;
  font-size: 2rem;

  @media screen and (min-width: $screen-medium) {
    font-size: 3rem;
  }
}

.scroll-container {
  position: absolute;
  display: block;
  bottom: 0;
  height: 100px;
  width: 100%;
  font-size: 3rem;

  .fa {
    animation: bounce 2s ease infinite;
  }

  @media screen and (min-width: $screen-medium) {
    font-size: 3.5rem;
  }
}

/* Navbar */

.navbar {
  @include navbar-background();
  width: 100%;
  z-index: 999;
  border: none;
  border-radius: 0;
  box-shadow: 0px 8px 6px -5px rgba(100,100,100,0.1);

  .navbar-brand {
    color: $dark-orange;
  }

  .navbar-brand:hover {
    color: $dark-orange;
  }

  .navbar-collapse {
    overflow-x: visible;
  }

  .nav li.active a,
  .nav li a:focus,
  .nav li a:hover,
  .nav li a:active,
  .nav li.active a:focus,
  .nav li.active a:hover,
  .nav li.active a:hover {
    background: none;
    color: $dark-orange;
  }
}

nav.fixed {
  position: fixed;
  top: 0;
}

.with-navbar-padding {
  padding-top: 60px;
  padding-bottom: 60px;
}

/* Sections */

section {
  width: 100%;

  .container {
    max-width: 1280px;

    .row {
      margin-top: 40px;
    }

    h3 {
      margin: 50px 0;
      color: $dark-orange;
    }

    @media screen and (min-width: $screen-large) {
      padding: 40px 180px;
    }
  }
}

h2 {
  text-align: center;
  font-size: 3rem;
  color: $dark-orange;
}

/* Section about */

#pic-container {
  text-align: center;
}

#profile-data {
  @media screen and (max-width: $screen-small) {
    margin-top: 1rem;
  }
}

#profile-pic {
  border-radius: 100%;
}

#description {
  margin-left: 5px;
}

#about-resume {
  display: block;
  margin-top: 2rem;
}


/* Sections Experience and Education */

.exp-period,
.ed-period {
  margin-top: 10px;
}

.exp-period,
.ed-period,
.exp-location,
.ed-location {
  font-size: 0.9rem;
}

ul.course-list {
  list-style-type: none;
  padding-left: 0;
}

ul a {
  color: black;
}

.course-date {
  color: $light-gray;
  font-size: 0.8rem;
}

/* Section Skills */

ul.skill-list {
  list-style-type: none;
  padding-left: 0;
}

ul.skill-list li span.skill-name {
  display: inline-block;
  width: 60%;
}

ul.skill-list li span.skill-rank {
  float: right;
  color: $light-gray;
}

ul.skill-list li span.skill-rank .filled {
  color: $dark-orange;
}

/* Section Projects */

.project-name {
  display: inline-block;
}

.project-date {
  font-size: 0.9rem;
  float: right;
}

.project-image {
  max-width: 100%;
}

.project-image-container {
  text-align: center;
}

.project-links {
  margin: 0 !important;

  .project-link {
    padding: 0 !important;
  }

  .project-link.center,
  .project-link.right {
    @media screen and (max-width: $screen-medium) {
      text-align: left;
    }
  }
}

/* Section Contact */

section#contact {
  color: white;
  padding-bottom: 100px;

  a,
  a:link,
  a:active,
  a:visited {
    color: white;
  }

  a:hover {
    color: $light-orange;
  }
}

.contact-item {
  .contact-icon {
    vertical-align: middle;
    font-size: 2.5rem;
  }
  @media screen and (max-width: $screen-medium) {
    margin-bottom: 1rem;
  }
}

.contact-item.center,
.contact-item.right {
  @media screen and (max-width: $screen-medium) {
    text-align: left !important;
  }
}

/* Footer */

footer {
  font-size: 0.9rem;
  padding: 20px 0;
  color: white;
}

/* Dividing image sections */
.dividing-image {
  height: 50%;
  width: 100%;
  @media screen and (max-width: $screen-medium) {
    display: none;
  }
}

.stockholm-division {
  @include division("../img/stockholm.jpg")
}

.vasteras-division {
  @include division("../img/vasteras.jpg");
}

.tatras-division {
  @include division("../img/tatras.jpg");
}

.boat-division {
  @include division("../img/boat.jpg");
}

.vasterasmist-division {
  @include division("../img/vasterasmist.jpg");
}

.portugalete-division {
  @include division("../img/portugalete.jpg");
}

.uppsala-division {
  @include division("../img/uppsala.jpg");
}

.budapest-division {
  @include division("../img/budapest.jpg");
}

.trakai-division {
  @include division("../img/trakai.jpg");
}

/* Food page */

.food-image {
  width: 75%;
  box-shadow: 0 5px 15px rgba(0,0,0,.5);
}

h3.food-title {
  margin-bottom: 2rem !important;
}

.food-description {
  margin: 1rem 0;
}
