@import url(http://fonts.googleapis.com/css?family=Noto+Sans:400,700);

/********************** GENERAL **********************/

body {
	font-family: "Noto Sans" Arial sans-serif;
}

h1, h2, h3, h4, h5, h6, h7 {
	font-weight: normal;
}

.center {
	text-align: center;
}

hr.soften {
	height: 1px;
	background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
	background-image: -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
	background-image: -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
	background-image: -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
	border: 0;
	margin: 0;
}

a {
	text-decoration: none !important;
}

p {
	line-height: 1.75em;
}

pre, .gist {
	margin: 20px 0;
}

/********************** HEADER **********************/

header h1 {
	font-size: 50px;
	color: #666;
}

h2 {
	margin-bottom: 20px;
}

h3, h2 {
	clear: both;
}

header {
	margin-top: 10px;
	float: left;
}

li.fadehover {
	list-style-type: none;
	position: relative;
	display: block;
	float: left;
	margin-right: 4px;
	height: 32px;
	width: 32px;
}

img.fade-a {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 10;
}

img.fade-b {
	position: absolute;
	left: 0;
	top: 0;
}

#social {
	margin-top: 25px;
	float: right;
}

/********************** NAVBAR **********************/

nav {
	margin: 100px 0 50px 0;
}

/********************** CONTENT **********************/

#content {
	text-align: justify;
	color: #666;
}

.content-centered {
	text-align: center;
}

.table-left {
	font-weight: bold;
	text-align: center !important;
	vertical-align: middle !important;
}

#table-about td {
	padding: 20px;
}

ul.courses-list {
	margin-left: 40px;
}

/******************** FEED + POSTS ********************/

#feed {
	padding-right: 20px;
}

article img, p img {
	display: block;
	margin: 10px auto 10px auto;
}

.article-title {
	color: #666;
}

.article-summary {
	clear: both;
	margin: 10px 0;
	text-align: justify;
}

.article-date {
	color: #aaa;
	font-size: 11px;
}

.comments-link {
	font-size: 13px;
}

hr.article-divider {
	margin: 20px 0;
}

.list-posts {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.post-image {
	float:  left;
	margin: 0 10px 10px 0;
}

.post-image-small {
	height: 100px;
}

.project-image {
	float: right;
	margin-top: -10px;
	margin-bottom: 40px;
}


/********************** SIDEBAR **********************/

#sidebar img {
	margin: 0 15px 15px 15px;
}

.sidebar-block {
	background: rgba(240,240,240, 0.5);
	border-radius: 5px;
	padding: 10px;
	margin-bottom: 10px;
}

p.small-description {
	font-size: 11px;
}

/********************** FOOTER **********************/

footer {
	margin-top: 50px;
	margin-bottom: 15px;
}

footer img {
	vertical-align: middle;
}

#footer-info {
	font-size: 10px;
}

/********************** PLUGINS **********************/

#disqus_thread {
	margin: 10px 0;
}

.shareaholic-canvas {
	margin:  20px 0;
}

ul.shareaholic-share-buttons {
	margin: 0 !important;
}

/********************* PROJECTS **********************/
h2#university-projects {
    margin-top: 50px;
}
