.timeline {
	position: relative;
	padding: 2em 0;
	margin: {
		top: 2em;
		bottom: 2em;
	}

	&::before {
		/* this is the vertical line */
		content: '';
		position: absolute;
		top: 0;
		left: 18px;
		height: 100%;
		width: 4px;
		background: lighten($light_gray, 5%);
	}

	@media only screen and (min-width: $screen-large) {
		margin: {
			top: 3em;
			bottom: 3em;
		}

		&::before {
			left: 50%;
			margin-left: -2px;
		}
	}
}

.timeline-block {
	position: relative;
	margin: 2em 0;
	@include clearfix;

	&:first-child {
		margin-top: 0;
	}

	&:last-child {
		margin-bottom: 0;
	}

	@media only screen and (min-width: $screen-large) {
		margin: 4em 0;

		&:first-child {
			margin-top: 0;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}
}

.timeline-img {
	position: absolute;
	top: 0;
	left: 0;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	box-shadow: 0 0 0 4px white, 0 0 0 5px rgba(#000, .05), inset 0 2px 0 rgba(#000, .08), 0 3px 0 4px rgba(#000, .05) ;

	img {
		display: block;
		position: relative;
    max-width: 100%;
    border-radius: 50%;
	}

	@media only screen and (min-width: $screen-large) {
		width: 60px;
		height: 60px;
		left: calc(50% - 30px);

		/* Force Hardware Acceleration in WebKit */
		-webkit-transform: translateZ(0);
		-webkit-backface-visibility: hidden;

		.cssanimations &.is-hidden {
			visibility: hidden;
		}

		.cssanimations &.bounce-in {
			visibility: visible;
			/*@include animation(cd-bounce-1 .6s);*/
		}
	}
}

/*@include keyframes(cd-bounce-1) {
	0% {
		opacity: 0;
		@include transform(scale(.5));
	}

	60% {
		opacity: 1;
		@include transform(scale(1.2));
	}

	100% {
		@include transform(scale(1));
	}
}*/

.timeline-content {
  text-align: left;
	position: relative;
	margin-left: 60px;
	background: white;
  border-radius: 0.25em;
	padding: 1em;
	box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1), 0 1px 4px rgba(0, 0, 0, 0.1);
  @include clearfix;

	h2 {
    text-align: left;
    margin: 0;
		color: $dark-gray;
	}

	p, .timeline-date {
    /* font size */
	}

	.timeline-date {
    font-size: 0.9rem;
    color: darken($light-gray, 25%);
		display: inline-block;
	}

	p {
		margin: 1em 0;
		line-height: 1.6;
	}

	.timeline-date {
		float: left;
		padding: 0.4rem 0.2rem;
		opacity: .7;
	}

	&::before {
		content: '';
		position: absolute;
		top: 16px;
		right: 100%;
		height: 0;
		width: 0;
		border: 7px solid transparent;
		border-right: 7px solid white;
	}

	&::after {
		content: '';
		position: absolute;
		top: 15px;
		right: 100%;
		height: 0;
		width: 0;
		border: 8px solid transparent;
		border-right: 8px solid rgba(#000, 0.05);
    z-index: -1;
	}

	@media only screen and (min-width: $screen-medium) {
		h2 {
      font-size: 1.25rem;
      /* font size */
		}

		p {
      /* font size */
		}

		.timeline-date {
		}
	}

	@media only screen and (min-width: $screen-large) {
		margin-left: 0;
		padding: 1.6em;
		width: 44.5%;

		&::before {
			top: 24px;
			left: 100%;
			border-color: transparent;
			border-left-color: white;
		}
		
		&::after {
			top: 23px;
			left: 100%;
			border-color: transparent;
			border-left-color: rgba(#000, 0.05);
		}

		.timeline-date {
			position: absolute;
			width: 100%;
			left: 122%;
			top: 6px;
      /* font size */
		}

		.timeline-block:nth-child(even) & {
			float: right;

			&::before {
				top: 24px;
				left: auto;
				right: 100%;
				border-color: transparent;
				border-right-color: white;
			}
			
      &::after {
				top: 23px;
				left: auto;
				right: 100%;
				border-color: transparent;
				border-right-color: rgba(#000, 0.05);
			}

			.timeline-date {
				left: auto;
				right: 122%;
				text-align: right;
			}
		}

		.cssanimations &.is-hidden {
			visibility: hidden;
		}

		.cssanimations &.bounce-in {
			visibility: visible;
			/* @include animation(cd-bounce-2 .6s); */
		}
	}
}
